* {
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

.container {
	max-width: 960px;
	margin: 0px auto;
}


header {
	text-align: center;
}

#search-area {
	text-align: center;
}

#info-container {
	position: relative;

}

#info {
	position: relative;
	float: left;
}

#stockimg {
	position: relative;
	float: left;
	margin-right: 25px;
	margin-left: 50px;
}

#info {
	float: right;
	padding-right: 50px;
	width: 50%;
}

#image-results {
	padding-top: 15px;
}